:root{
   --text-color:#626262;
   --classification-title:#B4AD9E;
   --axent-color:#03A9F4;
   --base-text-size: 14px;
}
body{
    color:var(--text-color, grey);
    font-size: var(--base-text-size, 15px);
    font-size: 15px;

}

.invisible-title{
    /*color: rgba(255, 0, 0, 0.5)*/
    color: #f00;


}